<html>
    <head>
        <link rel="stylesheet" href="/assets/semantic.min.css" />
        <script src="/assets/Chart.min.js"></script>
        <script src="/assets/chartjs-plugin-annotation.min.js"></script>
    </head>
    <body>
        <div class="ui container">
            <div class="ui two column grid">
                <div class="column">
                    <h1>PHPBench Reports</h1>
                </div>
                <div class="column" style="text-align: right">
                    <img src="/phpbench.png" height="48" width="48"/>
                </div>
            </div>
        <div class="ui one item menu">
            <a class="active item" href="{{ path('benchmarks') }}">Benchmarks</a>
        </div>
        {% block title %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
