<h1>PHPBench Reports</h1>
<table>
    <thead>
        <tr>
            <th>Class</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
{% for benchmark in benchmarks %}
<tr>
    <td>{{ benchmark.name }}</td>
    <td>{{ benchmark.count }}</td>
</tr>
{% endfor %}
    </tbody>
</table>
